.idea
/.idea/
**/.idea/
backups
.DS_Store
.git
*.egg-info/
.installed.cfg
*.egg

build
dist
db.sqlite3

medclsnet.pth
*.pth

.next

venv
node_modules

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

.vscode/*

venv/

datasets
